<ion-header>
  <ion-toolbar>
    <ion-title>Stages</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stages-container2">
    <div class="infos">
        <p><strong>Comprendre, Apprendre, S'améliorer, Transmettre...</strong></p>
        <p>Quatre mots qui résument la volonté commune qui anime toute l'équipe Persévère. </p>
        <p>Ce sont toutes ces connaissances et cette expérience que nous souhaitons partager avec vous aujourd'hui. Dans le cocon de nos écuries, nous voulons vous donner l'occasion de grandir, vous épanouir et être un peu plus proche du cavalier/propriétaire que vous souhaitez devenir pour votre cheval.</p>
        <p>Vous y trouverez des thèmes variés mais avec toujours le même fil conducteur : le mieux-être équin et la relation homme/cheval.</p>
    </div>

    <div class="planning">
        <h3>PLANNING 2022</h3>
        <p>Restez connectés ! Le planning s'enrichie toute l'année </p>

        <div class="cards-flex">
         
            <div class="card-infos">
                <h3>Ethologie Scientifique</h3>
                <p>Avec Karine Massot</p>
                <hr>
                <p>du 14 au 18 Avril<br>Ethologie scientifiques</p>
                <a href="">Infos</a>
                <p>du 29 Octobre au 02 Novembre<br>Ethologie Scientifique</p>
                <a href="">Infos</a>
                <button>inscription Ethologie Scientifique</button>

                <p>7/8 Mai<Br>Education et relation homme/cheval</p>
                <a href="">Infos</a>

                <p>15/16 Octobre<br>Education et relation homme/cheval</p>
                <a href="">Infos</a>
                <button>inscription Ethologie Scientifique</button>
            </div>
        
            <div class="card-infos">
                <h3>Communication Animale</h3>
                <p>Avec Ophélie Plaà</p>
                <hr>
                <p>28/29 Mai<br>Communication animale niveau 1</p>
                <p>23 au 25 Juillet<br>Surprise !</p>
                <p>17/18 Septembre<br>Communication animale niveau 2</p>
                <p>22/23 Octobre<br>Communication animale niveau 1</p>
                <button>Infos et Inscription Communication Animale</button>
            </div>
          
        </div>

        <div class="card-infos">
            <h3>Equitation, Locomotion et Travail du cheval</h3>
            <p>12 Juin<br>Longe et locomotion (Avec Karine Massot)</p>
            <a href="">Infos</a>
            <p>26 Juin<br>Embarquement et/ou passage en eau peu profonde (Avec Karine Massot)</p>
            <a href="">Infos</a>
            <p>6 au 10 Juillet<br>Stage à la carte ! (Avec Karine Massot)</p>
            <a href="">Infos</a>
            <p>6 au 10 Aout<br>Stage éducation et pré-débourrage (Avec Karine Massot)</p>
            <a href="">Infos</a>
            <p>11 au 13 Novembre<br>Posture, proprioception et locomotion : Travailler ensemble vers la performance (Avec Karine Massot)</p>
            <a href="">Infos</a>

            <button>Inscription</button>
        </div>

      
        <div class="card-infos">
            <h3>Communication Animale</h3>
            <p>Avec Ophélie Plaà</p>
            <hr>
            <p>28/29 Mai<br>Communication animale niveau 1</p>
            <p>23 au 25 Juillet<br>Surprise !</p>
            <p>17/18 Septembre<br>Communication animale niveau 2</p>
            <p>22/23 Octobre<br>Communication animale niveau 1</p>
            <button>Infos et Inscription Communication Animale</button>
        </div>
      

        <p>Vous êtes professionnel et vous souhaitez pouvoir proposer ces thèmes à vos cavaliers, propriétaires, clients ?<br>Vous êtes amateurs mais trop loin pour penser nous rejoindre ?<br>Aucun problème !<br>Tous les stages proposés chez nous sont réalisables chez vous. N'hésitez pas  à nous contacter pour plus de renseignements. </p>
    </div>
  </div>
</ion-content>
