<ion-header>
  <ion-toolbar>
    <ion-title>Gerer les utilisateurs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-margin">
  <div class="scroll">
    <table>
      <tr>
        <th>ID</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Griffin</td>
        <td>KAKA</td>
        <td>email@gmail.com</td>
        <td>06 00 00 00 00 </td>
        <td>Equipe</td>
        <td>
          <button id="modify">Modifier</button>
          <button id="delete">Supprimer</button>
        </td>
      </tr>
    </table>
  </div>
</ion-content>