<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-flex">
    <div class="right-infos">
        <h2>Nous contacter</h2>
        <form action="">
            <input type="text" placeholder="Prenom">
            <input type="text" name="" placeholder="Nom">
            <input type="text" name="" placeholder="E-mail">
            <input type="text" name="" placeholder="Telephone">
            <input type="text" name="" placeholder="Sujet">
            <textarea name="" cols="33" rows="5" placeholder="Ajoutez votre message ici..."></textarea>
            <button>Envoyer</button>
        </form>
    </div>

    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184961.55058744282!2d5.1178962437816145!3d43.58521168099338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ca03d427061e91%3A0x9a11e9ec70da3f46!2sEcuries%20de%20Pers%C3%A9v%C3%A8re!5e0!3m2!1sen!2sfr!4v1649857237546!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <app-footer></app-footer>
</ion-content>

