<ion-header>
  <ion-toolbar>
    <ion-title>Enseignement</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="infos">
        <h2>Travail du cheval & enseignement</h2>
        <hr>
        <p>Nous accueillons des chevaux et des cavaliers de toutes origines, tous horizons et toutes disciplines :</p>
        <p>Nous n'avons de limite dans notre travail que :</p>
        <p>- la limite de notre propre expérience et connaissance, que nous saurons annoncer si nous y sommes confrontés.<br>
            - les capacités physique et mentale de votre cheval, que nous n'agresserons jamais<br>
            - votre propre imagination.</p>
        <p>Alors proposez-nous tous vos défis et nous y répondrons de notre mieux ou nous saurons vers quel autre  professionnel vous orienter !</p>
    </div>
  </div>

  <div class="pourqui-container">
      <h1>POUR QUI?</h1>

      <div class="flex-container">
          <div class="cards">
              <div class="cardImg">
                  <img src="../../../assets/images/c1.jpg" alt="">
              </div>
              <div class="content">
                <h3>POUR VOS COMPAGNONS</h3>
                <hr>
                <ul>
                    <li>Débourrage des poulains ou chevaux ayant eu un débourrage raté.</li>
                    <li>Chevaux maltraités ou traumatisés (accident, phobie, etc.)</li>
                    <li>Chevaux mal éduqués ou agressifs.</li>
                    <li>Résolution de différents problèmes comportementaux gênants : mauvaise gestion des émotions, embarquement et débarquement, respect en main, difficulté d'approche, tonte, couverture, seringues, etc.</li>
                    <li>Rééducation physique.</li>
                </ul>
              </div>
          </div>
          <div class="cards">
              <div class="cardImg">
                  <img src="../../../assets/images/c1.jpg" alt="">
              </div>
              <div class="content">
                <h3>VOTRE COUPLE CHEVAL/CAVALIER</h3>
                <hr>
                <ul>
                    <li>Préparation physique et/ou mentale pour la compétition ou le loisir.</li>
                    <li>Complément de dressage plus avancé.</li>
                    <li>Optimisation de la relation cheval/cavalier.​</li>
                    <li>Nous vous proposons un accompagnement adapté à vos objectifs et la personnalité de votre couple cheval/cavalier, pour une optimisation de vos résultats en compétition.</li>
                </ul>
              </div>
          </div>
          <div class="cards">
              <div class="cardImg">
                  <img src="../../../assets/images/c1.jpg" alt="">
              </div>
              <div class="content">
                  <h3>POUR VOUS MÊME</h3>
                  <hr>
                  <ul>
                      <li>Leçons (à pied ou monté).</li>
                      <li>Stages dans nos écuries ou à domicile.</li>
                      <li>Travail suivi tout au long de l'année avec votre cheval pour une évolution en compétition ou pour le loisir.</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <app-footer></app-footer>
</ion-content>
