<ion-header>
  <ion-toolbar>
    <ion-title>Formules et Tarifs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ft-container">
    <div class="cards-box">
        <img class="imgs" src="../../../../assets/images/c2.jpg" alt="">
        <div class="infos">
            <h2>PENSION<br>
                Parc abri</h2>
            <p>Les chevaux sont logés en parc avec abri. Ils sont en groupe suivant les possibilités, les demandes et les affinités.<br>
                Les parcs sont nettoyés 4 à 6x/semaine.<br>
                Les chevaux sont nourris au foin à volonté dans des filets à foin petites mailles, un CMV adapté est laissé à leur disposition et un complément en floconné peut être apporté si besoin.<br>
                Le prix de la pension comprends l'accès à la totalité des installations, la gestion et l'entretien quotidien.</p>
            <h2>352€ hors options</h2>
        </div>

        <img class="imgs" src="../../../../assets/images/c2.jpg" alt="">
        <div class="infos">
            <h2>PENSION<br>
                Parc abri</h2>
            <p>Les chevaux sont logés en parc avec abri. Ils sont en groupe suivant les possibilités, les demandes et les affinités.<br>
                Les parcs sont nettoyés 4 à 6x/semaine.<br>
                Les chevaux sont nourris au foin à volonté dans des filets à foin petites mailles, un CMV adapté est laissé à leur disposition et un complément en floconné peut être apporté si besoin.<br>
                Le prix de la pension comprends l'accès à la totalité des installations, la gestion et l'entretien quotidien.</p>
            <h2>352€ hors options</h2>
        </div>
    </div>

    <div class="cards-box">
        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>TRAVAIL DU CHEVAL</h3>
                <hr>
                <p>Les chevaux sont travaillés en fonction des demandes et besoins de leurs cavaliers entre 1 et 3 fois par semaine. Le propriétaire peut au choix faire travailler son cheval ou prendre un cours.</p>
                <p>de 120€ à 324€</p>
                <h3>LECONS</h3>
                <hr>
                <p>Les leçons se font avec votre propre cheval. Elles durent de 40 à 60 minutes en fonction des capacités du couple.de 35€ à 45€  pour les cours seuls27€ / cavalier pour les cours en doubles</p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Débourrage </h3>
                <hr>
                <p>Le débourrage est une phase importante dans la vie du cheval et construira sa relation à l'homme pour le reste de sa vie. Le débourrage comprend de l'éducation à pied : Attache, brosses, donner les 4 pieds, accepter l'arnachement et le chargement en van. De l'éducation monté : Être capable de travailler aux 3 allures seul ou à plusieurs en carrière et en extérieur. Le tarifs comprend le bilan d'entrée et de sortie, la pension et le travail du cheval.</p>
                <p>755€/mois</p>
                <h3>Rééducation comportementale</h3>
                <hr>
                <p>La rééducation comportementale ne commence qu'après une visite de Karine sur site afin de définir clairement tous les aspects de la vie de votre cheval ainsi que la problématique. Le tarifs comprend le bilan d'entrée et de sortie, la pension et le travail du cheval.</p>
                <p>830€/ les 2 premiers mois puis 650€/mois</p>
            </div>
        </div>
    </div>

    <div class="cards-box">
        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Le bilan complet</h3>
                <hr>
                <p>C'est une évaluation complète sur 3 jours du couple cheval / cavalier sous tous ces aspects, à un instant T, par une équipe de professionnels rigoureusement choisis. Cela vous permet de faire un état des lieux et de repartir avec des conseils et des pistes de travail, que vous êtes libre de mettre en oeuvre à nos cotés ou avec les pros qui vous encadrent. Le bilan comprend : Maréchalerie, Dentisterie, Ostéo/Kiné, Energétique et Communication Animale, Alimentation, Tests de tempérament, relation à l'environnement, Comportement, saddle-fitting, Education à pied et monté, Relation cheval/cavalier</p>
                <p>300€</p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Pension convalescence & Rééducation physique</h3>
                <hr>
                <p>Suivant les besoins et les préconisations vétérinaires, les chevaux sont logés en boxes individuels et peuvent être sortis au paddock quotidiennement. Ils sont, si nécessaire suivi par un ou plusieurs membres de notre équipe. Un travail spécialisé à pied ou monté (Trotting avec dénivelés et/ou passage en eau peu profonde, marcheur, ceinture de massage par vibrations, massage à l'eau, séances de pédiluve, de cryothérapie et solarium) peut également venir compléter leur rééducation. Notre équipe ayant une grande expérience de la musculation et de la locomotion des chevaux, nous vous garantissons un travail de précision pour le bien être de votre cheval.</p>
                <p>Tarifs sur devis</p>
            </div>
        </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
