.ft-container {
    width: 100%;
    background-image: url("../../../../assets/images/wood.jpg");
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.cards-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.imgs {
    display: block;
    width: 100%;
    height: 200px;
    margin: auto;
    object-fit: cover;
}

.infos {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgba(54, 45, 29, 0.638);
}

.infos h2 {
    color: lawngreen;
    font-size: 20px;
}

.infos p {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    
}

/******************************************************/

.cards {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #000;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.cardImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 0.5s;
}

.cards:hover .cardImg img {
    opacity: 0;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 100%;
    height: 60px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.content h3 {
    margin: 0;
    font-size: 18px;
}

.content p {
    font-size: 12px;
}

.cards:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.content ul li {
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    text-align: justify;
}

.cards:hover .content ul li {
    opacity: 1;
    transition: 0.5s;
}