<ion-header>
  <ion-toolbar>
    <ion-title>Formules et Tarifs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ft-container">
    <div class="cards-box">
        <img class="imgs" src="../../../../assets/images/c2.jpg" alt="">
        <div class="infos">
            <h2>PENSION<br>
                Parc abri</h2>
            <p>Les chevaux sont logés en parc avec abri. Ils sont en groupe suivant les possibilités, les demandes et les affinités.<br>
                Les parcs sont nettoyés 4 à 6x/semaine.<br>
                Les chevaux sont nourris au foin à volonté dans des filets à foin petites mailles, un CMV adapté est laissé à leur disposition et un complément en floconné peut être apporté si besoin.<br>
                Le prix de la pension comprends l'accès à la totalité des installations, la gestion et l'entretien quotidien.</p>
            <h2>352€ hors options</h2>
        </div>

        <img class="imgs" src="../../../../assets/images/c2.jpg" alt="">
        <div class="infos">
            <h2>PENSION<br>
                Parc abri</h2>
            <p>Les chevaux sont logés en parc avec abri. Ils sont en groupe suivant les possibilités, les demandes et les affinités.<br>
                Les parcs sont nettoyés 4 à 6x/semaine.<br>
                Les chevaux sont nourris au foin à volonté dans des filets à foin petites mailles, un CMV adapté est laissé à leur disposition et un complément en floconné peut être apporté si besoin.<br>
                Le prix de la pension comprends l'accès à la totalité des installations, la gestion et l'entretien quotidien.</p>
            <h2>352€ hors options</h2>
        </div>
    </div>

    <div class="cards-box">
        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>TRAVAIL DU CHEVAL</h3>
                <hr>
                <p>Les chevaux sont travaillés en fonction des demandes et besoins de leurs cavaliers entre 1 et 3 fois par semaine. Le propriétaire peut au choix faire travailler son cheval ou prendre un cours.</p>
                <p>de 120€ à 324€</p>
                <h3>LECONS</h3>
                <hr>
                <p>Les leçons se font avec votre propre cheval. Elles durent de 40 à 60 minutes en fonction des capacités du couple.de 35€ à 45€  pour les cours seuls27€ / cavalier pour les cours en doubles</p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>TRAVAIL DU CHEVAL</h3>
                <hr>
                <p>Les chevaux sont travaillés en fonction des demandes et besoins de leurs cavaliers entre 1 et 3 fois par semaine. Le propriétaire peut au choix faire travailler son cheval ou prendre un cours.</p>
                <p>de 120€ à 324€</p>
                <h3>LECONS</h3>
                <hr>
                <p>Les leçons se font avec votre propre cheval. Elles durent de 40 à 60 minutes en fonction des capacités du couple.de 35€ à 45€  pour les cours seuls27€ / cavalier pour les cours en doubles</p>
            </div>
        </div>
    </div>

    <div class="cards-box">
        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>TRAVAIL DU CHEVAL</h3>
                <hr>
                <p>Les chevaux sont travaillés en fonction des demandes et besoins de leurs cavaliers entre 1 et 3 fois par semaine. Le propriétaire peut au choix faire travailler son cheval ou prendre un cours.</p>
                <p>de 120€ à 324€</p>
                <h3>LECONS</h3>
                <hr>
                <p>Les leçons se font avec votre propre cheval. Elles durent de 40 à 60 minutes en fonction des capacités du couple.de 35€ à 45€  pour les cours seuls27€ / cavalier pour les cours en doubles</p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImg">
                <img src="../../../../assets/images/c1.jpg" alt="">
            </div>
            <div class="content">
                <h3>TRAVAIL DU CHEVAL</h3>
                <hr>
                <p>Les chevaux sont travaillés en fonction des demandes et besoins de leurs cavaliers entre 1 et 3 fois par semaine. Le propriétaire peut au choix faire travailler son cheval ou prendre un cours.</p>
                <p>de 120€ à 324€</p>
                <h3>LECONS</h3>
                <hr>
                <p>Les leçons se font avec votre propre cheval. Elles durent de 40 à 60 minutes en fonction des capacités du couple.de 35€ à 45€  pour les cours seuls27€ / cavalier pour les cours en doubles</p>
            </div>
        </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
