<ion-header>
  <ion-toolbar>
    <ion-title>PROFILE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">

    <img id="userImage" src="../../../assets/images/profileuser.jpg" alt="">

    <div class="profile-form">
        <div class="left-info">
            <h2>IKIM</h2>
            <p>Injin</p>
            <p>Status</p>
            <p>ikim@gmail.com</p>
            <p>13100</p>
            <p>Aix-en-Provence</p>
        </div>
        
        <form class="input-box">
            
            <input type="text" placeholder="Prenom">
            <input type="text" placeholder="Age">
    
            <input type="text" placeholder="Email">
    
            <input type="text" placeholder="Zip Code">
            <input type="text" placeholder="Ville">
            <input type="text" placeholder="Addresse">
           
            <button>Update</button>

        </form>
        
    </div>
  </div>
</ion-content>
