.profile-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url("../../../assets/images/wood.jpg");
}


#userImage {
    display: block;
    width: 150px;
    height: 180px;

    object-fit: cover;

    position: relative;
    margin: auto;
    margin-top: 20px;
    z-index: 1;

    border: 3px solid lightgray;
}

.profile-form {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -50px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e9e9e9cb;
    text-align: center;

}

.profile-form h2 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #007bb4;
}

.profile-form p {
    margin: 0;
    color: #76b5c5;
    font-size: 18px;
    letter-spacing: 2px;

}

.profile-form input {
    display: block;
    border-color: #007bb4;
}

.profile-form input[type="text"] {
    padding: 10px 60px;
    margin-bottom: 5px;
    outline: none;
    border: 3px solid #abdbe3;
}

.profile-form input[type=text]:focus {
    border: 3px solid #007bb4;
  }


.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.input-box button {
    margin-top: 20px;
    padding: 8px 20px;
    border: 3px solid #007bb4;
    
    cursor: pointer;
}

.input-box button:hover {
    color: #fff;
    background-color: #76b5c5;
}
