<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/">
            <ion-label>ACCUEIL</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="equipe">
            <ion-label>EQUIPE</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="installations">
            <ion-label>INSTALLATIONS</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="enseignement">
            <ion-label>ENSEIGNEMENT</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="formulesettarifs">
            <ion-label>FORMULES & TARIFS</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <!--<ion-menu-toggle>
          <ion-item routerLink="stages">
            <ion-label>STAGES</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="contact">
            <ion-label>CONTACT</ion-label>
          </ion-item>
        </ion-menu-toggle>-->

        <ion-menu-toggle>
          <ion-item routerLink="rdv">
            <ion-label>RDV</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="gerer-users">
            <ion-label>GERER LES UTILISATEURS</ion-label>
          </ion-item>
        </ion-menu-toggle>

        

        <!--<ion-menu-toggle>
          <ion-item routerLink="profile">
            <ion-label>PROFILE</ion-label>
          </ion-item>
        </ion-menu-toggle>-->
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
