<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Se Connecter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="backgroud">
    <img id="logoImg" src="../../assets/images/logo.png" alt="">
    <ion-title id="home-title">ECURIES<br>DE PERSÉVÈRE</ion-title>

    <div class="wood-img">
      <h2>Notre ligne de conduite</h2>
      <div class="phrase">
          <p>haque cheval possède des qualités, peu importe sa race, ses origines, ou sa discipline, il suffit juste de prendre le temps d'écouter et de regarder pour trouver une solution adaptée.</p>
          <p>Karine MASSOT</p>
      </div>
    </div>

    <div class="video">
      <iframe src="https://www.youtube.com/embed/xl9Yt_wpBtc?wmode=transparent&autoplay=0&mute=0&theme=dark&controls=1&autohide=1&loop=0&showinfo=0&rel=0&enablejsapi=0" 
              title="Ecuries de persevere"></iframe>
    </div>

    <app-footer></app-footer>
  </div>
</ion-content>


  








